/nbproject/private/
/AcessaIFSP/nbproject/private/
/AcessaIFSP/AcessaIFSP/nbproject/private/
/AcessaIFSP/LerSerial/build/
/AcessaIFSP/LerSerial/dist/
/AcessaIFSP/LerSerial/nbproject/private/
/LerSerial/build/
/LerSerial/dist/
/LerSerial/nbproject/private/